.wrapper {
    width: 400px;
    height: 160px;
    margin: 0 auto;
}

#slider {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.slide {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
}

.navigation {
    display: flex;
}

.arrow {
    padding: 5px 10px;
    cursor: pointer;
}

.arrow:hover {
    background-color: #f7f7f7;
}

.none {
    display: none;
}

.strategies {
    margin: 5px 0 10px;
}

.strategies input {
    cursor: pointer;
}
